@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-size: small;
}

.cardBody {
  height: 200px;
  overflow-y: auto;
  font-size: x-small;
  background-color: rgb(54, 54, 54);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid gray;
  padding: 3px;
  box-shadow: 1px 1px 5px rgb(177, 177, 177);
  transition: 0.3s;
  overflow: hidden;
  color: white;
  animation: mymove 2s infinite;
}
cardBody.title {
  max-width: 100px;
}

.img {
  position: relative;
  margin: 5px;
  box-shadow: 1px 1px 5px rgb(177, 177, 177);
  border-radius: 10px;
  width: 100px;
  min-height: 100px;
  max-height: 100px;
  transition: 0.3s;

}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(201, 18, 18);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.dark {
  background-color: blueviolet;
}

.light {
  background-color: cadetblue;
}
@keyframes fadeInAnim {

  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }

}
.fadeIn{
  animation-name: fadeInAnim;
  animation-duration: 1s;
}